{% extends "xadmin/base_site.html" %}
{% load lib_inscription %}
{% block nav_title %}Gestion financière{% endblock %}
{% block content %}
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Paiement</th>
            <th>Impression des bordereaux</th>
            <th>Cloture des bordereaux</th>
            <th>Statistiques</th>
        </tr>
        </thead>
        <tbody>
        {% for year in years %}

        <tr>
                <td><a class="btn btn-primary" href="{% url 'xadmin:duck_paiement_etudiant_insadmetppaiement_changelist' year=year.cod_anu %}">Paiements : {{ year }}</a>
                <a class="btn btn-primary" href="{% url 'xadmin:foad_auditeurlibreapogee_changelist' year=year.cod_anu %}">Paiements Auditeur : {{ year }}</a></td>
            <td><a class="btn btn-primary" href="{% url 'xadmin:impression_bordereau_annee' year.cod_anu %}">Impression des bordereaux pour l'année {{ year }}</a></td>
            <td><a class="btn btn-primary" href="{% url 'xadmin:duck_paiement_etudiant_bordereau_changelist' year=year.cod_anu %}">Bordereaux : {{ year }}</a></td>
            <td><a class="btn btn-primary" href="{% url 'xadmin:statistiques_bordereau_annee' year.cod_anu %}">Statistiques : {{ year }}</a></td>

        <tr>
        {% endfor %}

        </tbody>
    </table>

    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Impayés</th>
            <th>Inscription sans paiements</th>
        </tr>
        </thead>
        <tbody>
        {% for year in years %}
            <tr>
                <td><a class="btn btn-primary" href="{% url 'xadmin:liste_impayes_annee' year.cod_anu %}">Impayés {{ year }}</a></td>
                <td><a class="btn btn-primary" href="{% url 'xadmin:liste_inscription_valide_sans_paiement' year.cod_anu%}">Inscription valide sans paiement {{ year }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
