{% extends "xadmin/base_site.html" %}
{% load lib_inscription %}
{% block nav_title %}Gestion financiere{% endblock %}
{% block content %}
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Paiement</th>
            <th>Impression des bordereaux</th>
            <th>Cloture des bordereaux</th>
        </tr>
        </thead>
        <tbody>
        {% for year in years %}

        <tr>
            <td><a class="btn btn-primary" href="{% url 'xadmin:django_apogee_insadmetp_annee_list' year.cod_anu %}">Paiements : {{ year}}</a></td>
            <td><a class="btn btn-primary" href="{% url 'xadmin:impression_bordereau_annee' %}">Impression des bordereaux pour l'année {{ year}}</a></td>
            <td><a class="btn btn-primary" href="{% url 'xadmin:duck_paiement_etudiant_bordereau_changelist' %}">Bordereaux : {{ year}}</a></td>

        <tr>
        {% endfor %}

        </tbody>
    </table>
{% endblock %}
