{% extends "xadmin/base_site.html" %}
{% load lib_inscription %}
{% block nav_title %}Impression bordereau{% endblock %}
{% block content %}
    {% for k, v in data.iteritems %}
        <a class="btn {% if v.is_active %}btn-success{% else %}btn-default{% endif %}" href="{% url 'xadmin:impression_bordereau_annee' year %}?type={{ k }}">{{ v.title }}</a>
    {% endfor %}
{% regroup bordereaux by num_paiement as bordereaux_list %}
<div class="row">
{% for bordereau in bordereaux_list %}
    <div class="col col-xs-4">
    <h3>{{ bordereau.grouper }}</h3>
    {% for b in bordereau.list %}
          <span class="btn btn-primary">{{ b }}</span> <a href="{% url 'xadmin:impression_bordereau' bordereau=b.id %}">xls</a> /
          <a href="{% url 'bordereau_spreadsheet_pdf' bordereau=b.id %}">pdf</a><br />
    {% endfor %}
    </div>
{% endfor %}
</div>
{% endblock %}
